### Exercise

**using for loop to print the number from 1 to 10**

In [4]:
## range(1,11,1)
## frist 1 is the starting point, inclusive
## 11 is the ending point, exclusive
## second 1 is the step size
for i in range(1,11,1):
    print(i)

1
2
3
4
5
6
7
8
9
10

**using for loop to print number from 2 to 20 by 2. Ex: 2, 4, 6,8**

In [5]:
for i in range(2,22,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

**a = [‘cat’, ‘dog’, ‘zebra’] b = [1, 2, 3] print each combination. Ex: (cat,1), (cat, 2), (cat,3), (dog ,1)…**

In [6]:
a = ['cat', 'dog','zebra']
b = [1,2,3]

for x in a:
    for y in b:
        print((x,y))

('cat', 1)
('cat', 2)
('cat', 3)
('dog', 1)
('dog', 2)
('dog', 3)
('zebra', 1)
('zebra', 2)
('zebra', 3)

# LIST COMPREHENSION

The **list comprehension** starts with a '[' and ']', to help you remember that the result is going to be a list.

[expression **for** item **in** list **if** condition]

**for** item **in** list:
    
    if condition:
        
        expression

In [7]:
years_of_brith = [1990, 1991, 1990, 1990, 1992, 1991]

GOAL : find their age

In [8]:
## old way
age = []
for year in years_of_brith:
    age.append(2018 - year)

In [9]:
age

[28, 27, 28, 28, 26, 27]

In [10]:
## List comprehension
[2018 - year for year in years_of_brith]

[28, 27, 28, 28, 26, 27]

EX:

a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]. Write one line of python that takes this list a and makes a new list that has only the even elements of this list in it.

In [12]:
a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
## For loop
even = []
for number in a:
    if number % 2 == 0:
        even.append(number)

In [14]:
even

[4, 16, 36, 64, 100]

[expression **for** item **in** list **if** condition]

In [16]:
## List comprehension
[number for number in a if number % 2 ==0]

[4, 16, 36, 64, 100]

** Nested Loop Using List Comprehension**

[expression **for** outter loop **for** inner loop]

In [17]:
a = ['cat', 'dog','zebra']
b = [1,2,3]
for x in a:
    for y in b:
        print((x,y))

('cat', 1)
('cat', 2)
('cat', 3)
('dog', 1)
('dog', 2)
('dog', 3)
('zebra', 1)
('zebra', 2)
('zebra', 3)

In [18]:
[(x,y) for x in a for y in b]

[('cat', 1),
 ('cat', 2),
 ('cat', 3),
 ('dog', 1),
 ('dog', 2),
 ('dog', 3),
 ('zebra', 1),
 ('zebra', 2),
 ('zebra', 3)]

# FUNCTION

In [20]:
6 ** 2

36

In [21]:
def squre(num):
    return(num**2)

In [23]:
squre(10)

100

In Python a function is defined using **def**

In [24]:
##Example:
def my_function():
    print("Hello")

To call a function, use the function name followed by parenthesis

In [25]:
my_function()

Hello

Parameters: Information can be passed to functions as parameter. Parameters are specified after the function name, inside the parethesis. You can add as many parameters as you want, just separate them with a comma.

In [26]:
def my_function(name):
    print('Your name is "'+name+'"')

In [27]:
my_function('Emliy')

Your name is "Emliy"

In [28]:
my_function("Jack")

Your name is "Jack"

In [29]:
## multiple parameters
def my_function2(fname, lname):
    print('Your name is "'+fname,lname+'"')

In [30]:
my_function2('A','B')

Your name is "A B"

In [31]:
## Default parameter
def my_function3(country = 'China'):
    print('I am from ' + country)

In [32]:
my_function3('Sweden')

I am from Sweden

In [33]:
my_function3('Brazil')

I am from Brazil

In [34]:
my_function3()

I am from China

In [39]:
##Return Values
def my_return(x):
    return(5*x)

In [40]:
my_return(3)

15

In [41]:
my_return(5)

25

In [42]:
## Difference between print and return
def my_print(x):
    print(5*x)

In [43]:
f1 = my_print(5)
f2 = my_return(5)
print(f1)
print(f2)

25
None
25

In [44]:
f1

In [45]:
f2

25

Exercise

Create a function name my_function

In [46]:
def my_function():
    print("Hello")

Call my_function

In [47]:
my_function()

Hello

Inside a function with two parameters, print the first parameter

In [48]:
def my_function(first, second):
    print(first)

In [49]:
my_function('A',"B")

A

Define a function that return the x parameter + 5

In [50]:
def extra_5(x):
    return(x+5)

In [51]:
extra_5(8)

13

Define a function that can receive two intergers in string form and compute their sum

In [52]:
def summation(x,y):
    return(int(x)+int(y))

In [53]:
summation('9','7')

16

Write a function that calculate square value of a number

In [54]:
def square(x):
    return(x ** 2)

In [55]:
square(2)

4

Write a function that sum all of the numbers in a list

In [56]:
a = [ 9 ,10 , 17, 18 ,5]

In [57]:
def summation(numbers):
    total = 0
    for num in numbers:
        total = total + num
    return(total)

In [59]:
summation(a)

59

Write a function to check if the number is odd or even

In [60]:
def odd_or_even(x):
    if x % 2 == 0:
        return('Even')
    else:
        return("Odd")

In [62]:
odd_or_even(18)

'Even'

Pretend we have two lists, one is students' names, and the other one is their raw scores. Write a function that convert scores to letter grades, and write another function to combine the name and letter grades into a dictionary

In [63]:
names = ['Tom', 'Jimmy', 'Alice','Tanya','Jack']
score = [98, 77, 65, 92, 100]

In [64]:
def grade(raw_score):
    if raw_score >=90:
        letter = 'A'
    elif raw_score >=80:
        letter = 'B'
    elif raw_score >= 70:
        letter = 'C'
    elif raw_score >= 60:
        letter = 'D'
    else:
        letter = 'F'
    return(letter)

In [66]:
score

[98, 77, 65, 92, 100]

In [67]:
letter_grade = []
for s in score:
    letter_grade.append(grade(s))

In [68]:
letter_grade

['A', 'C', 'D', 'A', 'A']

In [69]:
names

['Tom', 'Jimmy', 'Alice', 'Tanya', 'Jack']

In [70]:
def combine_list(name, grade):
    new_lis = zip(name, grade)
    new_dict = dict(new_lis)
    return(new_dict)

In [71]:
combine_list(names, letter_grade)

{'Alice': 'D', 'Jack': 'A', 'Jimmy': 'C', 'Tanya': 'A', 'Tom': 'A'}

In [72]:
guess_word(secret_word)

guess letter: l
________
guess letter: e
________
guess letter: a
_A____A_
guess letter: n
_A____A_
guess letter: m
_A____A_
guess letter: r
_A__R_A_
guess letter: s
SA__R_A_
guess letter: o
SA__R_A_
guess letter: c
SA__R_A_
guess letter: l
Already guessed!!
SA__R_A_
guess letter: d
SA__RDA_
guess letter: y
SA__RDAY
guess letter: t
SAT_RDAY
guess letter: u
SATURDAY
You won!!

In [2]:
def guess_word(word):
    word = word.upper()
    guessed = "_" * len(word)
    word = list(word)
    guessed = list(guessed)
    lstGuessed = []
    letter = input("guess letter: ")
    while True:
        if letter.upper() in lstGuessed:
            letter = ''
            print("Already guessed!!")
        elif letter.upper() in word:
            index = word.index(letter.upper())
            guessed[index] = letter.upper()
            word[index] = '_'
        else:
            print(''.join(guessed))
            if letter is not '':
                lstGuessed.append(letter.upper())
            letter = input("guess letter: ")

        if '_' not in guessed:
            print(''.join(guessed))
            print("You won!!")
            break

In [1]:
secret_word = 'saturday'