## Exercise

** 1. Write a function called squared that takes in one int and retrun the second power of it.**

In [12]:
def squared(x):
    return(x**2)

In [13]:
squared(2)

4

In [14]:
squared(3)

9

** 2.Write a function called concatenate that concatenate two words**

In [15]:
def concatenate(x,y):
    return(x+y)

In [16]:
3 + 2

5

In [17]:
'hello' +'world'

'helloworld'

In [18]:
concatenate('hello', 'world')

'helloworld'

** 3.Write a function called average that calculates the average of a list of ints**

In [19]:
number_3 = [1,2,3,4,5,6,7]

In [20]:
def average(x):
    n = len(x)
    total = sum(x)
    return(total/n)

In [21]:
average(number_3)

4.0

In [22]:
def average(x):
    n = len(x)
    total = 0
    for number in x:
        total = total+number
    return(total/n)

In [23]:
average(number_3)

4.0

** 4.Write a function called variance that calculates the variance of a list of numbers**

<img src="../sample-variance-formula.png" width="300">

In [26]:
def variance(numbers):
    n = len(numbers)
    total = sum(numbers)
    average = total/n
    
    square_total = 0
    for num in numbers:
        square_total = square_total + (num -average)**2
    return(square_total / n)

In [27]:
variance(number_3)

4.0

## Lambda Function

lambda function is a type of anonymous function which is defined by the **lambda** keyword

##Syntax

**lambda** arguments:expression

In [28]:
double = lambda x:x*2

In [29]:
double(5)

10

In [30]:
mutiply = lambda a,b : a*b

In [31]:
mutiply(5,6)

30

write a function that add up all there arguments using lambda

In [32]:
add_up = lambda a,b,c:a+b+c

In [33]:
add_up(1,2,3)

6

In [35]:
add_up(1,2,4)

7

## Map

**map** applies a function to all the items in an input list

SYNTAX:

map(function_to_apply, list_of_inputs)

In [36]:
## Print out a list with its squared value
items = [1 ,2 ,3 ,4 ,5 ,6]

In [37]:
## Oldest way
squared = []
for num in items:
    squared.append(num**2)

In [40]:
## Advanced way -- List comprehenshion
squared = [num**2 for num in items]
squared

[1, 4, 9, 16, 25, 36]

In [42]:
## map way
list(map(lambda x:x**2, items))

[1, 4, 9, 16, 25, 36]

In [43]:
dict_a = [{'name':'python','points':10}
          ,{'name':'Java', 'points':9}]

In [45]:
list(map(lambda x: x['name'], dict_a))

['python', 'Java']

In [46]:
list(map(lambda x: x['points'], dict_a))

[10, 9]

In [47]:
list(map(lambda x: x['name']=='python', dict_a))

[True, False]

In [50]:
## Write a function that add up list_a and list_b using map
list_a = [1,2,3]
list_b = [4,5,6]

list(map(lambda x,y:x+y,list_a,list_b))

[5, 7, 9]

## Filter

filter returns only those element for which the function_object return true

SYNTAX:

filter(function_object, iterable_list)

In [51]:
list_a = [1,2,3,4,5,6]

list(filter(lambda x:x%2==0, list_a))

[2, 4, 6]

In [52]:
list(filter(lambda x:x%2==1, list_a))

[1, 3, 5]

In [53]:
list_a

[1, 2, 3, 4, 5, 6]

Apply a function to list_a that triples list_a using lambda function

In [54]:
list(map(lambda x: x*3, list_a))

[3, 6, 9, 12, 15, 18]

from list_a, filter out everything that is mutiple of 3

In [55]:
list(filter(lambda x: x%3==0, list_a))

[3, 6]

## Nested Function

Like nested loops, we simply create a function using def inside another function to nest two functions

In [57]:
def f1():
    print("Hello")
    def f2():
        print("world")
    return f2()

In [58]:
f1()

Hello
world

In [59]:
def f1():
    x = 1
    def f2(a):
        print(a+x)
    f2(2)

In [60]:
f1()

3

Global & Local Variables

In [61]:
#local
def f1():
    local = 5
    return local

In [63]:
##Global
glob = 5
def f1():
    print(glob)

In [64]:
f1()

5

Closure

In [69]:
def power(exponent):
    def exponent_of(base):
        return(base**exponent)
    return exponent_of

In [70]:
square = power(2)

In [73]:
square(2)

4

In [74]:
triple = power(3)

In [75]:
triple(2)

8

In [76]:
def myfunc(n):
    return lambda a:a*n

In [77]:
mydouble = myfunc(2)

In [78]:
mydouble(5)

10

## Game

In [79]:
cow_game()

Guess the 4-digits number:4985
Cows:  0
Bulls:  1
Guess the 4-digits number:4678
Cows:  1
Bulls:  0
Guess the 4-digits number:4723
Cows:  1
Bulls:  0
Guess the 4-digits number:6973
Cows:  1
Bulls:  0
Guess the 4-digits number:2381
Cows:  1
Bulls:  2
Guess the 4-digits number:9081
Cows:  2
Bulls:  1
Guess the 4-digits number:4281
Cows:  1
Bulls:  1
Guess the 4-digits number:2980
Cows:  0
Bulls:  2
Guess the 4-digits number:2183
Cows:  2
Bulls:  1
Guess the 4-digits number:2841
Cows:  2
Bulls:  0
Guess the 4-digits number:1382
Cows:  0
Bulls:  3
Guess the 4-digits number:1384
Cows:  0
Bulls:  3
Guess the 4-digits number:1385
Cows:  0
Bulls:  3
Guess the 4-digits number:1386
Cows:  0
Bulls:  3
Guess the 4-digits number:1387
Cows:  0
Bulls:  3
Guess the 4-digits number:1389
Cows:  0
Bulls:  3
Guess the 4-digits number:1382
Cows:  0
Bulls:  3
Guess the 4-digits number:1380
Cows:  0
Bulls:  4
Congratulations!

In [ ]:
guessed 1234

answer  2345


3cows 0bulls

In [1]:
def cow_game():
    number = '1380'
    cow = 0
    def calculare_cow_and_bulls(guess_number):
        cows = 0
        bulls = 0
        for i in range(0,4):
            if guess_number[i] == number[i]:
                bulls +=1
            elif guess_number[i] in number:
                cows+=1
        return cows, bulls

    while cow<4:
        user_number = input("Guess the 4-digits number:")
        cow,bull = calculare_cow_and_bulls(user_number)
        print('Cows: ', cow)
        print("Bulls: ", bull)
        if bull ==4:
            print('Congratulations!')
            break